@import "../../sass/abstracts/variables";

.Button {
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    width: 150px;
    padding: 15px 0;
    border: 1px solid $color-darkgray;
    border-radius: 3px;
}
