@import "../../../styles/abstracts/breakpoints";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";

.Letters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LettersContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'l1 l2 .'
        'l3 l4 l5'
        'l6 l7 .';
    list-style: none;
}

.Letter {
    width: 50px;
    height: 55px;
    margin: 10px;
    border: 1px solid $color-black;
    border-radius: 5px;
    overflow: hidden;
}

@for $i from 1 through 7 {
    .Letter-#{$i} {
        @include letter($i);
    }
}

.LetterButton {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
}

.LetterButton:disabled {
    background-color: $color-gray-bg;
    color: $color-lightgray-font;
}

@include breakpoint($largeMobile) {
    .Letters {
        grid-column: 1 / -1;
    }
}
