@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.Letters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LettersRow {
    display: flex;
    justify-content: center;
}

.Letter {
    @include letter-size-mobile($letter-width-mobile, $letter-height-mobile);

    margin: 10px;
    border: 1px solid $color-black;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
}

.Inactive {
    background-color: $color-gray-bg;
    color: $color-lightgray-font;
}
