@import "../../../styles/abstracts/breakpoints";

.Letters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@include breakpoint($largeMobile) {
    .Letters {
        grid-column: 1 / -1;
    }
}
