@import "variables";

@mixin letter($index) {
    grid-area: l#{$index};

    @if $index != 3 and $index != 4 and $index != 5 {
        transform: translateX(40px);
    }
}

@mixin letter-unset {
    grid-area: unset;
    transform: none;
}

@mixin button {
    padding: 15px 0;
    //border: 1px solid $color-black;
    border-radius: 3px;
    background-color: $color-yellow-2;
    //color: $color-brown-font;
    color: $color-green-dark-2;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 6px -1px $color-green-dark-1;
    transition: 0.3s background-color;
    text-transform: uppercase;

    &:active {
        background-color: $color-gray-bg;
    }
}

@mixin button-regular-width {
    width: 240px;
}

@mixin button-small {
    width: 120px;
}

@mixin button-hover {
    &:hover {
        background-color: $color-gray-bg;
    }
}
