$color-white: #fff;
$color-gray-bg: #eee;
$color-lightgray-font: #bdbdbd;
$color-darkgray: #333;
$color-black: #000;

$header-height: 50px;
$slots-height: 60px;
$backspace-width: 50px;
$backspace-height: 50px;
$game-grid-gap: 10px;
