$color-white: #fff;
$color-gray-bg: #eee;
$color-lightgray-font: #bdbdbd;
$color-darkgray: #333;
$color-black: #000;
$color-yellow-1: #ffecb7;
$color-yellow-2: #eedaa3;
$color-brown-font: #551b05;
$color-brown-font-disabled: #551c06;
$color-green-disabled: #8dad84;
$color-green-main: #06836d;
$color-green-home-bg: #067c67;
$color-green-dark-1: #004636;
$color-green-dark-2: #00311e;

$header-height-mob: 50px;
$header-height-desk: 80px;
$slots-height: 60px;
$backspace-width: 50px;
$backspace-height: 50px;
$game-grid-gap: 10px;
