@import "../../sass/abstracts/variables";

.Game {
    text-align: center;
    min-height: calc(100vh - 50px);
    padding: 10% 8px;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.Cells {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

.Cell {
    height: 50px;
    border-bottom: 2px solid $color-black;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
}

.Letters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LettersRow {
    display: flex;
    justify-content: center;
}

.Letter {
    height: 55px;
    width: 50px;
    margin: 10px;
    border: 1px solid $color-black;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    border-radius: 5px;
}

.Inactive {
    background-color: $color-gray-bg;
    color: $color-lightgray-font;
}
