@import "../../styles/abstracts/breakpoints";
@import "../../styles/abstracts/variables";

.Game {
    display: grid;
    grid-template-rows: 40px $slots-height $backspace-height auto;
    grid-gap: $game-grid-gap;
    max-width: 500px;
    min-height: calc(100vh - #{$header-height-mob});
    padding: 2% 15px 3%;
    margin: 0 auto;
    text-align: center;
}

@include breakpoint($midMobile) {
    .Game {
        grid-template-columns: auto $backspace-width;
        grid-template-rows: 40px $slots-height auto;
    }
}

@include breakpoint($largeMobile) {
    .Game {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        max-width: 700px;
        min-height: calc(100vh - #{$header-height-desk});
    }
}
