@import "../../../styles/abstracts/breakpoints";
@import "../../../styles/abstracts/mixins";

.PlayAgainSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PlayAgainBtn {
    @include button;
    @include button-regular-width;
}

@include breakpoint($desktop) {
    .PlayAgainBtn {
        @include button-hover;
    }
}
