@import "../../../styles/abstracts/breakpoints";
@import "../../../styles/abstracts/variables";

.Timer {
    align-self: center;
    color: $color-yellow-2;
    font-weight: 500;
}

@include breakpoint($midMobile) {
    .Timer {
        grid-column: 1 / -1;
    }
}

@include breakpoint($desktop) {
    .Timer {
        font-size: 24px;
    }
}
