@import "../../../styles/abstracts/breakpoints";
@import "../../../styles/abstracts/variables";

.BackspaceBtn {
    position: relative;
    justify-self: self-end;
    width: $backspace-width;
    height: $backspace-height;
    border: none;
    background: transparent;
    color: $color-green-dark-1;
    text-align: right;
    outline: none;
    transition: 0.3s opacity;

    &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 25px;
        height: 15px;
        background: $color-yellow-1;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        z-index: -1;
    }

    &:disabled {
        opacity: 0.3;
    }

    &:active {
        opacity: 0.3;
    }
}

@include breakpoint($largeMobile) {
    .BackspaceBtn {
        align-self: self-end;
    }
}

@include breakpoint($tablet) {
    .BackspaceBtn {
        //position: relative;
        left: calc((#{$backspace-width} + #{$game-grid-gap}) / 2);
    }
}

@include breakpoint($desktop) {
    .BackspaceBtn {
        display: none;
    }
}
