@import "../../../styles/abstracts/variables";

.MessageSection {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    text-align: center;
}

.MessageIcon {
    display: block;
    margin-bottom: 5px;
    color: $color-yellow-2;
    text-shadow: 1px 1px 3px $color-green-dark-1;
}

.MessageHeader {
    margin-bottom: 10px;
    font-size: inherit;
    font-weight: 900;
}
