@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.Home {
    display: grid;
    grid-template-rows: 2fr 3fr;
    min-height: calc(100vh - 50px);
    //background: $color-green-1;
    text-align: center;
}

.Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-green-2;
}

.Header {
    margin-bottom: 30px;
}

.StartGame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.StartGameAction {
    @include button;
    @include button-regular-width;

    display: inline-block;
    background: $color-yellow-2;
    //color: $color-brown-font;
    font-family: inherit;
    text-decoration: none;
    box-shadow: 0 2px 6px -1px $color-green-dark-1;
    // skasować
    border: none;
}
