@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.Home {
    display: grid;
    grid-template-rows: 2fr 3fr;
    min-height: calc(100vh - 50px);
    text-align: center;
}

.Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-gray-bg;
}

.Header {
    margin-bottom: 30px;
}

.StartGame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.StartGameAction {
    @include button;
    @include button-regular-width;

    display: inline-block;
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}
