@import "../../styles/abstracts/breakpoints";
@import "../../styles/abstracts/variables";

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-height-mob;
    background: $color-green-dark-1;
    font-size: 18px;
}

.HeaderLink {
    color: $color-yellow-2;
    font-family: inherit;
    text-decoration: none;
}

@include breakpoint($desktop) {
    .Header {
        height: $header-height-desk;
        font-size: 24px;
    }
}
