@import "../../../styles/abstracts/variables";

.Submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button {
    width: 120px;
    padding: 15px 0;
    margin: 0 10px;
    border: 1px solid $color-black;
    border-radius: 3px;
    outline: none;

    &:active {
        background-color: $color-gray-bg;
    }
}
