@import "../../../styles/abstracts/breakpoints";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";

.Submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button {
    @include button;
    @include button-small;

    margin: 0 5px;
}

@include breakpoint($midMobile) {
    .Submit {
        grid-column: 1 / -1;
    }
}

@include breakpoint($desktop) {
    .Button {
        @include button-regular-width;
        @include button-hover;
    }
}
