@import "../../../styles/abstracts/breakpoints";
@import "../../../styles/abstracts/variables";

.AnswerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AnswerHeader {
    margin-bottom: 10px;
    font-size: inherit;
    font-weight: 400;
}

.Answer {
    font-size: 30px;
    color: $color-yellow-1;
}

@include breakpoint($desktop) {
    .Answer {
        font-size: 36px;
    }
}
