@import "../../../styles/abstracts/variables";

.SlotsSection {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px 2px;
    grid-gap: 0 5px;
}

.Slots {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    list-style: none;
}

.Slot {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
}

.SlotBottom {
    height: 2px;
    background: $color-black;
}
