@import "../../../styles/abstracts/breakpoints";
@import "../../../styles/abstracts/variables";

.SlotsSection {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0 5px;
}

.Slots {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    list-style: none;
}

.Slot {
    min-height: $slots-height;
    color: $color-yellow-1;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: $slots-height;
}

.Empty {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: $color-green-dark-2;
        border-radius: 50%;
    }
}

@include breakpoint($tablet) {
    .SlotsSection {
        position: relative;
        left: calc((#{$backspace-width} + #{$game-grid-gap}) / 2);
    }
}

@include breakpoint($largeMobile) {
    .SlotsSection {
        display: none;
    }
}
