@import "../../../styles/abstracts/breakpoints";
@import "../../../styles/abstracts/variables";

.SlotsSection {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0 5px;
}

.Slots {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    list-style: none;
}

.Slot {
    color: $color-yellow-1;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: $slots-height;
    box-shadow: 0 -2px 0 0 $color-green-dark-2 inset;
}

@include breakpoint($tablet) {
    .SlotsSection {
        position: relative;
        left: calc((#{$backspace-width} + #{$game-grid-gap}) / 2);
    }
}

@include breakpoint($desktop) {
    .SlotsSection {
        display: none;
    }
}
