:global {
    @import "@fortawesome/fontawesome-free/scss/fontawesome";
    @import "@fortawesome/fontawesome-free/scss/solid";
}

@import "styles/base/fonts";
@import "styles/base/reset";
@import "styles/abstracts/variables";

body {
    background: $color-green-main;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
