:global {
    @import "@fortawesome/fontawesome-free/scss/fontawesome";
    @import "@fortawesome/fontawesome-free/scss/solid";
}

@import "styles/abstracts/variables";
@import "styles/base/fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color-green-main;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
